.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh !important; 
}

.login-input {
    width: 300px;
    margin-bottom: 15px;
    height: 20px;
}

.login-button {
    height: 30px;
    margin-bottom: 15px;
    background-color: transparent;
    border: 1px solid rgb(45, 186, 45);
    text-align: inherit;
    font: inherit;
    border-radius: 5px;
    width: 310px;
    color: rgb(45, 186, 45);
    transition: all .2s ease-in-out; 
}

.login-button:hover {
    cursor: pointer;
    background-color: rgb(45, 186, 45);
    border: none;
    color: white;
    transform: scale(1.1); 
}

#components-form-demo-normal-login,  .login-form {
    max-width: 300px;
  }
  #components-form-demo-normal-login,  .login-form-forgot {
    float: right;
  }
  #components-form-demo-normal-login,  .ant-col-rtl,  .login-form-forgot {
    float: left;
  }
  #components-form-demo-normal-login,  .login-form-button {
    width: 100%;
  }
